.content-title{
  position: relative;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1, h2{
      padding: 0;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}